.App {
  text-align: center;
}
body{
  background-color: #000000;
}

.movieshome{
  width: 80%;
  margin: auto;

}
.moviecard {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}
.navbar{
  height: 80px;
 background-color: rgba(255, 255, 255, 0.818);
 margin-bottom: 30px;
 
}
.navdata{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;

}
.navdata nav{
align-self: center;
}
.navdata div{
  display: inline-flex;
  align-items: center;
}
.navdata ul{
  list-style: none;
}
.navdata ul li a{
  color: black;
  text-decoration: none;
}
.auth-buttons .butt2 {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.auth-buttons .butt1 {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
.auth-buttons a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  vertical-align: bottom;
}


